body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 8px;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
}

#right-now {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

main {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
}

#today-forecast {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

#hourly-forecast {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

#five-day-outlook {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

@media screen and (min-width: 768px) {

  body {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 16px;
  }


  #today-forecast {
    grid-column: 2 / 7;
  }

  #hourly-forecast {
    grid-column: 7 / 12;
    grid-row: 1 / 2;
  }

  #five-day-outlook {
    grid-column: 3 / 11;
    grid-row: 2 / -1;
  }
}