:root {
  --blue-gradient: to bottom, #004B67, #007BA8;
  --dark-blue: #01364A;
  --medium-blue: #004B67;
  --light-blue: #007BA8;
  --gray: #323232;
  --white: #F7F7F7;
  --main-font: 'Raleway', sans-serif;
  --normal-border-radius: 15px;
  --header-shadow: 0px 5px 6px rgba(0, 0, 0, 0.308);
  --box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.40);
}

body {
  background-color: var(--light-blue);
  color: var(--white);
  font-family: var(--main-font);
  font-weight: bold;
  letter-spacing: 0.05em;
}

header {
  background-color: var(--dark-blue);
  padding: 1.5em;
  text-align: center;
  box-shadow: var(--header-shadow);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#user-input-container {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

label {
  width: auto;
  margin-right: 0.5em;
}

#user-input-field, #submit {
  border: none;
  border-radius: 400px;
  padding: 0.5em 1em;
  font-size: 1rem;
  width: 50%;
  box-shadow: var(--shadow);
}

#submit:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.623);
  color: var(--white);
}

#submit {
  background-color: #5DB6D6;
  color: var(--gray);
  width: auto;
  margin-left: 0.5em;
}

#right-now {
  background-image: linear-gradient(var(--blue-gradient));
  padding: 11em 1.5em 3em 1.5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: -1;
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 98vh;
}

#right-now-container {
  display: flex;
  flex-direction: column;
}

#user-location {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  font-weight: 200;
  opacity: 0.8;
}

#right-now-icon-temp {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2rem;
}

#right-now-climacon {
  width: 125px;
  height: 125px;
  margin: 2.5em auto 3em auto;
}

#right-now-climacon-svg {
  display: block;
  width: 100%;
  height: auto;
}

#currentTemp {
  font-size: 10rem;
  margin: auto;
  font-weight: 700;
}

#other-conditions-container {
  margin: auto;
}

#feels-like-and-wind {
  margin: auto;
  text-align: center;
  line-height: 1.5rem;
  font-weight: 400;
}

#uv-hum-dew-press {
  margin: 1rem auto 0 auto;
  text-align: center;
  line-height: 1.5rem;
  font-weight: 400;
}

#UVindex {
  width: fit-content;
  border-radius: 400px;
}

main {
  background-color: var(--white);
  border-radius: 25px 25px 0 0 ;
  padding: 0 8px;
}

#today-forecast {
  background-color: var(--medium-blue);
  padding: 3.5em 1.5em;
  margin: 4em 0 0 0;
  border-radius: var(--normal-border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  height: auto;

}

#todayHigh {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

#todayLow {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

#todaySummary {
  font-weight: 500;
  line-height: 1.25rem;
  font-weight: 400;
}

#hourly-forecast {
  background-color: var(--medium-blue);
  padding: 3.5em 1.5em;
  margin: 4em 0 0 0;
  border-radius: var(--normal-border-radius);
  box-shadow: var(--box-shadow);
  height: auto;

}

#hourly-graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: flex-end;
}

.hourly-temp-and-icon {
  background-color: rgba(247, 247, 247, 0.25);
  border-radius: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.25rem 0.25rem 0.25rem;
  height: 15em;
  margin: auto;
  margin-bottom: 1rem;
  width: 40px;
}

.hourly-temp-and-icon-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hourly-temp {
  text-align: center;
}

.hourly-icon {
  margin: auto;
  width: 100%;
  height: auto;
}

.hourly-time {
  margin: auto;
  text-align: center;
  font-weight: 400;
}

#five-day-outlook {
  background-color: var(--medium-blue);
  padding: 3.5em 1.5em;
  margin: 4em 0 4em 0;
  border-radius: var(--normal-border-radius);
  box-shadow: var(--box-shadow);
  height: auto;
}

.day-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.day-container:last-of-type {
  margin: 0;
}

.day-name {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.daily-high-low {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.daily-icon {
  margin-left: auto;
  width: 7em;
}

.daily-icon img {
  width: 100%;
}


h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}


@media screen and (min-width: 768px) {

  header {
    text-align: left;
  }


  #right-now {
    flex-direction: column;
    padding: 13em 3em;
  }

  #user-location {
    font-size: 2rem;
    margin-bottom: 2em;
  }

  #right-now-icon-temp {
    margin: 0 auto 5em auto;
    flex-direction: row;
    align-items: center;
  }

  #currentTemp {
    margin: 0 3rem;
    font-size: 12rem;
    align-self: flex-start;
  }

  #right-now-climacon {
    width: 150px;
    height: 150px;
    margin: 2.5em 3em 3em 3em;
  }

  #other-conditions-container {
    margin: auto;
  }
  


  main {
    padding: 0 16px;
  }

  #today-forecast {
    height: auto;
    text-align: left;
    padding: 3.5em 3em;
    max-width: 960px;
  }

  #hourly-forecast {
    padding: 3.5em 3em;
    max-width: 960px;
  }

  #five-day-outlook {
    padding: 3.5em 3em;
    max-width: 960px;
  }

  h2 {
    text-align: left;
  }
}