:root {
  --blue-gradient: to bottom, #93c1ff, #5E80AF;
  --dark-blue: #01364A;
  --medium-blue: #004B67;
  --light-blue: #007BA8;
  --gray: #323232;
  --white: #F7F7F7;
  --main-font: 'Work Sans', sans-serif;
  --normal-border-radius: 15px;
  --header-shadow: 0px 5px 6px rgba(0, 0, 0, 0.308);
  --box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.40);
}

.cloudy-or-rainy {
  background-image: linear-gradient(45deg, rgb(192, 192, 192), #989898)
}

.clear {
  background-image: linear-gradient(45deg, #8BBBFC, #708FBA)
}

.night {
  background-image: linear-gradient(45deg, #484B5A, #242533)
}

body {
  color: var(--white);
  font-family: var(--main-font);
  letter-spacing: 0.05em;
  padding: 2rem 1rem 0 1rem;
}

header {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 536px;
  justify-content: space-between;
}

header input {
  width: 80%;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid #F7F7F7;
  border-radius: 400px;
  background-color: transparent;
  color: #F7F7F7;
}

header button {
  width: auto;
  font-size: 1rem;
  border: 2px solid #f7f7f7;
  border-radius: 400px;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  color: #F7F7F7;
  font-size: 1rem;
}

#right-now {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 536px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#right-now h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-top: 4rem;
}

#right-now p {
  font-size: 6rem;
  margin-top: 1.5rem;
}

#right-now div {
  width: 118px;
  margin: 1.5rem auto 0 auto;
}

#right-now div img {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 536px;
  margin: 6rem auto 0 auto;
  justify-content: space-around;
  font-size: 1.5rem;
}

nav li {
  padding-bottom: 0.25rem;
  transition: 0.2s;
}

.active-link {
  border-bottom: 2px solid rgba(247, 247, 247, 0.5);
}

#other-conditions {
  margin: 3.5rem auto 0 auto;
  width: 100%;
  max-width: 536px;
}

.other-conditions-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(247, 247, 247, 0.5);
}

.other-conditions-section:last-child {
  border: none;
}

.other-conditions-section p:first-child {
  font-weight: bolder;
}

#hourly-forecast {
  margin: 3.5rem auto 0 auto;
  width: 100%;
  max-width: 536px;
  display: none;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hour-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(247, 247, 247, 0.5);
}

.hour-section div p:first-child {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.hour-section > p {
  font-size: 2.5rem;
}

.hour-section div p:last-child {
  font-size: 1rem;
  font-weight: lighter;
  opacity: 0.75;
}

.hour-section:last-child {
  border: none;
}

#five-day-outlook {
  margin: 3.5rem auto 0 auto;
  width: 100%;
  max-width: 536px;
  display: none;
}

.day-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(247, 247, 247, 0.5);
}

.daily-icon {
  width: 4rem;
}

.daily-icon img {
  width: 100%;
}

.day-name {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.daily-high-low {
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.day-container:last-child {
  border: none;
}

footer {
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
}